$primary900: #002159;
$primary800: #01337D;
$primary700: #03449E;
$primary600: #0552B5;
$primary500: #0967D2;
$primary400: #2186EB;
$primary300: #47A3F3;
$primary200: #7CC4FA;
$primary100: #BAE3FF;
$primary50: #E6F6FF;

$success900: #064E3B;
$success800: #065F46;
$success700: #047857;
$success600: #059669;
$success500: #10B981;
$success400: #34D399;
$success300: #6EE7B7;
$success200: #A7F3D0;
$success100: #D1FAE5;
$success50: #ECFDF5;

$danger900: #7F1D1D;
$danger800: #991B1B;
$danger700: #B91C1C;
$danger600: #DC2626;
$danger500: #EF4444;
$danger400: #F87171;
$danger300: #FCA5A5;
$danger200: #FECACA;
$danger100: #FEE2E2;
$danger50: #FEF2F2;

$warning900: #78350F;
$warning800: #92400E;
$warning700: #B45309;
$warning600: #D97706;
$warning500: #F59E0B;
$warning400: #FBBF24;
$warning300: #FCD34D;
$warning200: #FDE68A;
$warning100: #FEF3C7;
$warning50: #FFFBEB;

$lightDark900: #0F172A;
$lightDark800: #1E293B;
$lightDark700: #334155;
$lightDark600: #475569;
$lightDark500: #64748B;
$lightDark400: #94A3B8;
$lightDark300: #CBD5E1;
$lightDark200: #E2E8F0;
$lightDark100: #F1F5F9;
$lightDark50: #F8FAFC;

$dark900: #202731;
$dark800: #28313E;
$dark700: #343F4F;
$dark600: #3F4C5E;
$dark500: #48586D;
$dark400: #53647C;
$dark300: #5E728D;
$dark200: #677C9A;
$dark100: #7A8DA9;

$white: #FFF;