@import "../../styles/_variables";

.sidebar {
  color: $lightDark800;
  border-right: $primary50 1px solid;
  &-content {
    .navbar {
      padding: 0;
      margin: 0;
      &:hover {
        background-color: $lightDark100;
      }
      .nav {
        &-item {
          cursor: pointer;
          font-size: 15px;
          padding: 15px 30px;
          &.child {
            padding-left: 50px;
            &:hover {
              background-color: $lightDark200;
            }
          }
        }
      }
    }
  }
}