@import "../../styles/_variables";

.sidebar {
  color: $lightDark800;
  border-right: $primary50 1px solid;
  &-content {
    flex: 1 1 0%;
    .navbar {
      padding: 0;
      margin: 0;
      &:hover {
        background-color: $lightDark100;
      }
      .nav {
        &-item {
          cursor: pointer;
          font-size: 15px;
          padding: 15px 30px;
          &.child {
            padding-left: 50px;
            &:hover {
              background-color: $lightDark200;
            }
          }
          &-content {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    .dropdown {
      width: 250px;
      ul {
        font-size: 14px;
        width: 215px;
        li {
          .selectLng {
            font-size: 13px;
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            font-weight: 600;
          }
          a {
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            i {
              color: $primary500;
              display: flex;
              align-items: center;
            }
          }
          .selected {
            pointer-events: none;
            background-color: transparent;
          }
          .unselect {
            color: $dark200;
          }
        }
      }
    }
  }
}